<div class="modal-body" id="modal-body">
   <div>
      <section>
         <div class="width-100 login-options-wrap">
         		
         		<button class="text-center login-option google" ng-click="vm.apply()">Apply with Profile</button>	
         </div>
         <div class="or-wrapper text-center">
         		<span class="or-text bold-font">or</span>
         		<hr></hr>
         </div>
         <div class="login-options-wrap">
         		<button class="modal-btn-primary login-option" ng-click="vm.uploadResume()"><img class="glyphicon glyphicon-cloud-upload"">Attach Resume</button>
         </div>
       
      </section>
      
   </div>
</div>
